{% block content %}   

    <h2>Welcome!</h2>
    <a href="{{ path('projects') }}">Projects</a>
    <a href="{{ path('subprojects') }}">Subprojects</a>
    <a>Collection</a>
    <a>Collaborators</a>
    <a>Settings</a>   

{% endblock %}