{% block content %}   

    <h2>Welcome!</h2>
    <a href="{{ path('projects') }}">Projects</a>
    <a>Subprojects</a>
    <a>Colection</a>
    <a>Colaborators</a>
    <a>Settings</a>   

{% endblock %}